<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd ">
	<!-- 定义service -->
	<bean id="UserService" class="cn.edu.zju.gislab.SCSServices.service.impl.UserServiceImp"></bean>
	<bean id="TyphoonInfoHome" class="cn.edu.zju.gislab.SCSServices.service.impl.TyphoonInfoHomeImp"></bean>
	<bean id="RollForecastService" class="cn.edu.zju.gislab.SCSServices.service.impl.RollForecastServiceImp"></bean>
	<bean id="PredictionPaperService" class="cn.edu.zju.gislab.SCSServices.service.impl.PredictionPaperServiceImp"></bean>
	<bean id="LawAreaService" class="cn.edu.zju.gislab.SCSServices.service.impl.LawAreaServiceImp"></bean>
	<bean id="productImgsService" class="cn.edu.zju.gislab.SCSServices.service.impl.ProductImgsServiceImp"></bean>

</beans>