<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zju.gislab.SCSServices.dao.BlogMapper">

    <sql id="TABLE">
        blog
    </sql>

    <sql id="FIELD">
        id, title, author, create_time, views
    </sql>

    <select id="getBlogIF" parameterType="map" resultType="Blog">
        SELECT *
        FROM
        <include refid="TABLE"/>
        WHERE 1=1
        <if test="title != null">AND title like #{title}</if>
        <if test="author != null">AND author = #{author}</if>
    </select>

    <select id="getBlogChoose" parameterType="map" resultType="Blog">
        SELECT *
        FROM
        <include refid="TABLE"/>
        <where>
            <choose>
                <when test="title != null">AND title like #{title}</when>
                <when test="author != null">AND author = #{author}</when>
                <otherwise>AND views like #{views}</otherwise>
            </choose>
        </where>
    </select>

    <select id="getBlogForeach" parameterType="map" resultType="Blog">
        SELECT *
        FROM
        <include refid="TABLE"/>
        <where>
            <foreach collection="ids" item="id" open="(" separator=" and " close=")">
                id = #{id}
            </foreach>
        </where>
    </select>


    <insert id="addBlog" parameterType="Blog">
        INSERT INTO
        <include refid="TABLE"/>(
        <include refid="FIELD"/>
        )
        VALUES(#{id}, #{title}, #{author}, #{createTime}, #{views})
    </insert>


    <update id="updateBlogSet" parameterType="map">
        UPDATE
        <include refid="TABLE"/>
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="author != null">author = #{author},</if>
            <if test="views != null">views = #{views},</if>
        </set>
        WHERE id = #{id}
    </update>


</mapper>